= link_to item_path(item) do
  .mypage-block-data-list__data
    .item-data
      = image_tag item.images.first&.src&.url, class: "item-data__image"
      .item-data__detail
        ã€Œ
        = item.name
        ã€
        = item.detail
      = image_tag "icon-arrow.png", class:"item-data__arrow"