.mypage.horizontal-padding-15
  = render 'shared/side_bar'
  .mypage-main
    .mypage-block
      .mypage-block-header-user
        =link_to " " do
          =image_tag "user_noimage.png", class:"mypage-block-header-user__image"
          .mypage-block-header-user__name
            = current_user.nickname
          .mypage-block-header-user__rate
            評価：５ 出品数：#{current_user.selling_items.length}
      = render partial: "users/selling_item", locals: {items: @items}
    = render partial: "users/bought_item", locals: {items: @items}
